// 색상, 폰트, 변수 (Variables)
$color-white: #ffffff;
$color-light: #f9f9f9;
$color-gray: #b4b4b4;
// $color-blue: #2850bd; // 원래 파랑
// $color-blue: #4e96ff; // 글
$color-blue: #61c9ff;
$color-dark: #282828;
$color-dark-sub: #3e3e3e;