@import "../styles/index.scss";

.navbar {
  background: $color-dark;
  color: $color-white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 1.5rem 0;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-weight: bold;
    font-size: 2rem;
    color: $color-blue; // 이미지 말고 텍스트 하기러 함
  }

  ul {
    display: flex;
    gap: 2rem;

    li {
      cursor: pointer;
      transition: color 0.2s;
      // font-weight: 600;
      // text-decoration: underline;

      &:hover {
        color: $color-blue;
        // text-shadow: 1px 1px 4px rgba(255,255,255, .4); // 그림자
      }
    }
  }
}