@import "../styles/index.scss";

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: $color-white;
  width: 70%;
  max-height: 80vh;
  overflow-y: auto;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;

  @media (max-width: $breakpoint-tablet) {
    width: 90%;
    padding: 1.5rem;
  }
}

.closeBtn {
  position: absolute;
  top: 3rem;
  right: 2rem;
  background: none;
  border: none;
  font-size: 2.4rem;
  color: $color-dark-sub;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;

  &:hover {
    color: $color-blue;
    transform: scale(1.1);
  }
}

// .modal-title {
// }

.modal-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;

  a {
    background: $color-blue;
    // background: $color-white;
    color: $color-white;
    // color: $color-blue;
    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    text-decoration: none;
    font-size: $fs-14;
    transition: all 0.3s ease;

    &:hover {
      background: darken($color-blue, 10%);
      transform: translateY(-2px);
    }
  }
}

.modal-body {
  .period {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 0rem;
    margin-top: 2rem;
    color: $color-dark;
  }

  p {
    margin-top: 0.8rem;
    color: $color-dark-sub;
  }
}

/* 모달 등장 애니메이션 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}