// SectionTitle.scss
@use '../styles/colors' as *;
@use '../styles/variables' as *;

.section-title {
  
  .title {
    color: $color-dark;
    margin-bottom: 2rem;
    font-size: 3.2rem;
  }
  .subtitle {
    color: $color-dark-sub;
    font-size: $fs-16;
    margin-bottom: 1.5rem;
  }

  &.center {
    text-align: center;
  }

}

// 태블릿 (≥768px)
@media (min-width: $breakpoint-tablet) {
  .section-title {
  
  .title {
    color: $color-dark;
    margin-bottom: 3rem;
    font-size: 3.6rem;
  }
  .subtitle {
    margin-bottom: 2rem;
  }
}

}