// SectionTitle.scss
@import "../styles/index.scss";

.section-title {
  
  .title {
    color: $color-dark;
    margin-bottom: 2rem;
  }
  .subtitle {
    color: $color-dark-sub;
    font-size: $fs-16;
    margin-bottom: 1.5rem;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}
