@use '../styles/colors' as *;
@use '../styles/variables' as *;

.contact {
  background: $color-dark;
  color: $color-white;
  text-align: center;
  padding-bottom: 0;
  
  .title {
    color: $color-white;
  }

  p {
    margin-bottom: 2rem;
    color: $color-gray;
    line-height: 1.6;
    /* 
    * 맺음말 설명글 모바일일 때 정렬
    *
    */
    // text-align: left;
  }

  .contact-link {
    display: inline-block;
    margin: 2rem 0 4rem;
    color: $color-blue;
    font-weight: 700;
    font-size: 1.8rem;
    transition: 0.5s;

    &:hover {
      color: lighten($color-blue, 10%);
      text-decoration: underline;
    }
  }

  .contact-closing {
    margin-top: 5rem;
    // margin-top: 15rem;
    border-top: 1px solid $color-gray;
    padding: 3rem 0 0;
    text-align: center;
    p {
      margin-bottom: 2rem;
      color: $color-gray;
      line-height: 1.6;
      &:last-child {
        // margin-bottom: 10rem;
      }
    }
  }

    .menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex: 1;
      gap: 2rem;
      flex-direction: row;
    }


    a {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      color: $color-white;
      font-size: $fs-16;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: $color-blue;
        transform: scale(1.1);
      }
    }
  }

  .footer {
    text-align: center;
    padding: 4rem 0 1.5rem;
    color: $color-gray;
    // position: absolute;
    // left: calc(50% - 150px);
    // bottom: 0;
  }

  // 반응형
  // 태블릿 (≥768px)
  @media (min-width: $breakpoint-tablet) {

    .contact {
      .con {
        display: flex;
        &.text {
          flex: 5;
        }
      }
      .menu {
        justify-content: flex-start;
        gap: 2.5rem;
        flex-direction: column;
        align-content: flex-end;
        align-items: flex-end;
      }
      .contact-link {
        margin: 2rem 0;
      }
      .contact-closing {
        padding: 6rem 0 0;
      p {
          margin-bottom: 2rem;
          color: $color-gray;
          line-height: 1.6;
          &:last-child {
            margin-bottom: 10rem;
          }
        }
      }
      .footer {
      }
    } 
  }

  // 노트북 (≥1100px)
  @media (min-width: $breakpoint-laptop) {
    .contact {
      .menu {
        // gap: 3.5rem;
      }
    } 
    .footer {
      // margin-top: 6rem;
      // font-size: 1.4rem;
    }
  }

  // 데스크탑 (≥1400px)
  @media (min-width: $breakpoint-desktop) {

    .menu {
      // gap: 3rem;
      // margin-top: 4rem;

      a {
        // font-size: 2.2rem;
      }
    }

    .footer {
      // font-size: 1.5rem;
    }
  }

