@import "../styles/index.scss";

.contact {
  background: $color-dark;
  color: $color-white;
  text-align: center;
  padding-bottom: 0;

  .con {
    display: flex;
    &.text {
      flex: 5;
    }
  }
  
  h2 {
    padding-bottom: 3rem;
    color: $color-white;
  }

  p {
    margin-bottom: 3rem;
    color: $color-gray;
    line-height: 1.6;
  }

  .contact-link {
    display: inline-block;
    margin: 2.5rem 0 4rem;
    color: $color-blue;
    font-weight: 700;
    font-size: 1.8rem;
    transition: color 0.3s ease, text-decoration 0.3s ease;

    &:hover {
      color: lighten($color-blue, 10%);
      text-decoration: underline;
    }
  }

  .contact-closing {
    margin-top: 6rem;
    border-top: 1px solid $color-light;
    padding: 5rem 0;
    p {
      margin-bottom: 2rem;
      color: $color-gray;
      line-height: 1.6;
    }
  }

    .menu {
      display: flex;
      justify-content: right;
      flex-wrap: nowrap;
      flex: 1;
      // margin-top: 3rem;
      gap: 4rem;
      flex-direction: column;
      align-items: flex-end;
    }


    a {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      color: $color-white;
      font-size: $fs-16;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: $color-blue;
        transform: scale(1.08);
      }
    }
  }

  .footer {
    text-align: center;
    margin-top: 5rem;
    padding: 4rem 0 1.5rem;
    color: $color-gray;
    
    small {
      // font-size: $fs-14;
    }
    // .version {
    //   font-size: $fs-14;
    //   margin-top: 0.4rem;
    //   opacity: 0.8;
    // }
  }
  .version {
    margin: 1rem 0;
  }

  // 반응형
  // 태블릿 (≥768px)
  @media (min-width: $breakpoint-tablet) {


    .menu {
      // gap: 2rem;

      a {
        // font-size: 1.8rem;
      }
    }

    .footer {
      // font-size: $fs-14;
    }
  }

  // 노트북 (≥1100px)
  @media (min-width: $breakpoint-laptop) {

    .menu {
      // gap: 2.5rem;
      // justify-content: start;

      a {
        // font-size: 2rem;
      }
    }

    .footer {
      // margin-top: 6rem;
      // font-size: 1.4rem;
    }
  }

  // 데스크탑 (≥1400px)
  @media (min-width: $breakpoint-desktop) {

    .menu {
      // gap: 3rem;
      // margin-top: 4rem;

      a {
        // font-size: 2.2rem;
      }
    }

    .footer {
      // font-size: 1.5rem;
    }
  }

