@import "../styles/index.scss";

.contact {
  padding: 8rem 0 0 0;
  background: $color-dark;
  color: $color-white;
  // text-align: center;

  h2 {
    margin-bottom: 2rem;
    color: $color-white;
  }

  p {
    margin-bottom: 1.5rem;
    color: $color-gray;
    font-size: $fs-16;
  }

  .contact-link {
    display: inline-block;
    margin-bottom: 2rem;
    color: $color-blue;
    font-weight: 700;
    font-size: 1.8rem;
    transition: color 0.3s ease, text-decoration 0.3s ease;

    &:hover {
      color: lighten($color-blue, 10%);
      text-decoration: underline;
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;

    a {
      color: $color-white;
      // font-size: 2.4rem;
      // transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: $color-blue;
        // transform: translateY(-3px);
      }
    }
  }

  .footer {
    text-align: center;
    margin-top: 4rem;
    padding: 4rem 0 1rem;
    font-size: $fs-12;
    color: $color-gray;
  }
}
