@use '../styles/colors' as *;
@use '../styles/variables' as *;
@use '../styles/mixins' as *;
@use '../styles/components/buttons' as *;

// Home (모바일 퍼스트)
.home {
  display: flex;
  align-items: center;
  justify-content: start;
  background: $color-white;
  color: $color-dark;
  position: relative;
  text-align: center; // 모바일 기본 가운데 정렬

  .inner {
    @include flex-center; // index.scss 믹스인 사용
    flex-direction: column;
    gap: .7rem;
    width: 100%;         // !!!!!✅ 로고랑 맞춤 flex-direction: column :: 하면 마진 오토가 된다..?
    // align-items: center;
    // justify-content: center;
  }
  
  // 부제목 (모바일 기준)
  .subtext {
    font-size: 1.8rem; // ✅ 기준 폰트에서 키움
    color: $color-dark-sub;
    font-weight: 400;
  }

  .btn {
    svg {
      // outline: 1px solid red;
      // margin-right: .5rem;
    }
  }
}

  .version {
    p {
      font-size: $fs-12;
      color: $color-gray;
    }
  }
  // 아래 화살표 아이콘 테블릿부터 마우스말고 손으로 바꿀까
  .down {
    color: $color-blue;
    font-size: 3rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: bounce 1.5s ease-in-out infinite;

    &:hover {
      color: darken($color-blue, 10%);
    }
  }
  

// 태블릿 (≥768px)
@media (min-width: $breakpoint-tablet) {
  .home {
    text-align: left; 
    .inner {
      align-items: flex-start;
    }
    h2 {
      font-size: 4rem;
    }
    .subtext {
      font-size: 2.2rem;
    }
  }
}

//  노트북 (≥1100px)
@media (min-width: $breakpoint-laptop) {
  .home {
    h2 {
      font-size: 4.4rem; font-weight: 500; line-height: 1.4;
    }
    .subtext {
        font-size: 2.6rem;
        // font-weight: 400;
      }
  }
}

// ✅ 데스크탑 (≥1400px)
@media (min-width: $breakpoint-desktop) {
  .home {
    .inner {
      // gap: 2rem;
      max-width: 1200px;
      // margin: 0 auto;
    h2 {
        font-size: 5.4rem;
      }
      .subtext {
        font-size: 3rem;
        // font-weight: 400;
      }
    }
  }
}

/* 아이콘 위아래 반복 애니메이션 */
@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 10px);
  }
}
